$color-01-normal: #9c89b8;
$color-01-normal-name: 'Lavender purple';
$color-01-normal-rgb: rgba($color-01-normal, 1);
$color-01-normal-transparent-10: rgba($color-01-normal, .1);
$color-01-normal-transparent-20: rgba($color-01-normal, .2);
$color-01-normal-transparent-30: rgba($color-01-normal, .3);
$color-01-normal-transparent-40: rgba($color-01-normal, .4);
$color-01-normal-transparent-50: rgba($color-01-normal, .5);
$color-01-lighter-10: lighten($color-01-normal, 10%);
$color-01-lighter-20: lighten($color-01-normal, 20%);
$color-01-lighter-30: lighten($color-01-normal, 30%);
$color-01-darker-10: darken($color-01-normal, 10%);
$color-01-darker-20: darken($color-01-normal, 20%);
$color-01-darker-30: darken($color-01-normal, 30%);


$color-02-normal: #f0a6ca;
$color-02-normal-name: 'Carnation pink';
$color-02-normal-rgb: rgba($color-02-normal, 1);
$color-02-normal-transparent-10: rgba($color-02-normal, .1);
$color-02-normal-transparent-20: rgba($color-02-normal, .2);
$color-02-normal-transparent-30: rgba($color-02-normal, .3);
$color-02-normal-transparent-40: rgba($color-02-normal, .4);
$color-02-normal-transparent-50: rgba($color-02-normal, .5);
$color-02-lighter-10: lighten($color-02-normal, 10%);
$color-02-lighter-20: lighten($color-02-normal, 20%);
$color-02-lighter-30: lighten($color-02-normal, 30%);
$color-02-darker-10: darken($color-02-normal, 10%);
$color-02-darker-20: darken($color-02-normal, 20%);
$color-02-darker-30: darken($color-02-normal, 30%);



$color-03-normal: #efc3e6;
$color-03-normal-name: 'Classic rose';
$color-03-normal-rgb: rgba($color-03-normal, 1);
$color-03-normal-transparent-10: rgba($color-03-normal, .1);
$color-03-normal-transparent-20: rgba($color-03-normal, .2);
$color-03-normal-transparent-30: rgba($color-03-normal, .3);
$color-03-normal-transparent-40: rgba($color-03-normal, .4);
$color-03-normal-transparent-50: rgba($color-03-normal, .5);
$color-03-lighter-10: lighten($color-03-normal, 10%);
$color-03-lighter-20: lighten($color-03-normal, 20%);
$color-03-lighter-30: lighten($color-03-normal, 30%);
$color-03-darker-10: darken($color-03-normal, 10%);
$color-03-darker-20: darken($color-03-normal, 20%);
$color-03-darker-30: darken($color-03-normal, 30%);


$color-04-normal: #f0e6ef;
$color-04-normal-name: 'Isabelline';
$color-04-normal-rgb: rgba($color-04-normal, 1);
$color-04-normal-transparent-10: rgba($color-04-normal, .1);
$color-04-normal-transparent-20: rgba($color-04-normal, .2);
$color-04-normal-transparent-30: rgba($color-04-normal, .3);
$color-04-normal-transparent-40: rgba($color-04-normal, .4);
$color-04-normal-transparent-50: rgba($color-04-normal, .5);
$color-04-lighter-10: lighten($color-04-normal, 10%);
$color-04-lighter-20: lighten($color-04-normal, 20%);
$color-04-lighter-30: lighten($color-04-normal, 30%);
$color-04-darker-10: darken($color-04-normal, 10%);
$color-04-darker-20: darken($color-04-normal, 20%);
$color-04-darker-30: darken($color-04-normal, 30%);

$color-05-normal: #b8bedd;
$color-05-normal-name: 'Light steel blue';
$color-05-normal-rgb: rgba($color-05-normal, 1);
$color-05-normal-transparent-10: rgba($color-05-normal, .1);
$color-05-normal-transparent-20: rgba($color-05-normal, .2);
$color-05-normal-transparent-30: rgba($color-05-normal, .3);
$color-05-normal-transparent-40: rgba($color-05-normal, .4);
$color-05-normal-transparent-50: rgba($color-05-normal, .5);
$color-05-lighter-10: lighten($color-05-normal, 10%);
$color-05-lighter-20: lighten($color-05-normal, 20%);
$color-05-lighter-30: lighten($color-05-normal, 30%);
$color-05-darker-10: darken($color-05-normal, 10%);
$color-05-darker-20: darken($color-05-normal, 20%);
$color-05-darker-30: darken($color-05-normal, 30%);

