

@font-face {
    font-family: "Inconsolata-Regular";
    src: url('$path/Inconsolata-Regular.woff2') format('woff2'),
         url('$path/Inconsolata-Regular.woff') format('woff'),
         url('$path/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg'),
         url('$path/Inconsolata-Regular.ttf') format('ttf');   
}
            

            

@font-face {
    font-family: "Inconsolata-Bold";
    src: url('$path/Inconsolata-Bold.woff2') format('woff2'),
         url('$path/Inconsolata-Bold.woff') format('woff'),
         url('$path/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg'),
         url('$path/Inconsolata-Bold.ttf') format('ttf');   
}
            

            