$base-font-path: 'assets/fonts/';
$line-icons-font-path: 'assets/fonts/line-icons';



@font-face {
    font-family: "Abel-Regular";
    src: url('#{$base-font-path}/Abel/Abel-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Abel/Abel-Regular.woff') format('woff'),
    url('#{$base-font-path}/Abel/Abel-Regular.svg#Abel-Regular') format('svg'),
    url('#{$base-font-path}/Abel/Abel-Regular.ttf') format('ttf');
}


@font-face {
    font-family: "Bitter-Regular";
    src: url('#{$base-font-path}/Bitter/Bitter-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Bitter/Bitter-Regular.woff') format('woff'),
    url('#{$base-font-path}/Bitter/Bitter-Regular.svg#Bitter-Regular') format('svg'),
    url('#{$base-font-path}/Bitter/Bitter-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Bitter-Bold";
    src: url('#{$base-font-path}/Bitter/Bitter-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Bitter/Bitter-Bold.woff') format('woff'),
    url('#{$base-font-path}/Bitter/Bitter-Bold.svg#Bitter-Bold') format('svg'),
    url('#{$base-font-path}/Bitter/Bitter-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Bitter-Italic";
    src: url('#{$base-font-path}/Bitter/Bitter-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Bitter/Bitter-Italic.woff') format('woff'),
    url('#{$base-font-path}/Bitter/Bitter-Italic.svg#Bitter-Italic') format('svg'),
    url('#{$base-font-path}/Bitter/Bitter-Italic.ttf') format('ttf');
}



@font-face {
    font-family: "Cabin-SemiBoldItalic";
    src: url('#{$base-font-path}/Cabin/Cabin-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBoldItalic.svg#Cabin-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-Regular";
    src: url('#{$base-font-path}/Cabin/Cabin-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-Regular.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-Regular.svg#Cabin-Regular') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-MediumItalic";
    src: url('#{$base-font-path}/Cabin/Cabin-MediumItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-MediumItalic.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-MediumItalic.svg#Cabin-MediumItalic') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-MediumItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-Medium";
    src: url('#{$base-font-path}/Cabin/Cabin-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-Medium.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-Medium.svg#Cabin-Medium') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-Bold";
    src: url('#{$base-font-path}/Cabin/Cabin-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-Bold.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-Bold.svg#Cabin-Bold') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-Italic";
    src: url('#{$base-font-path}/Cabin/Cabin-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-Italic.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-Italic.svg#Cabin-Italic') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-SemiBold";
    src: url('#{$base-font-path}/Cabin/Cabin-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBold.svg#Cabin-SemiBold') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-SemiBold.ttf') format('ttf');
}




@font-face {
    font-family: "Cabin-BoldItalic";
    src: url('#{$base-font-path}/Cabin/Cabin-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Cabin/Cabin-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Cabin/Cabin-BoldItalic.svg#Cabin-BoldItalic') format('svg'),
    url('#{$base-font-path}/Cabin/Cabin-BoldItalic.ttf') format('ttf');
}






@font-face {
    font-family: "CrimsonText-Regular";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Regular.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "CrimsonText-Italic";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Italic.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Italic.svg#CrimsonText-Italic') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "CrimsonText-BoldItalic";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-BoldItalic.svg#CrimsonText-BoldItalic') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "CrimsonText-Bold";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Bold.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Bold.svg#CrimsonText-Bold') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "CrimsonText-SemiBold";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBold.svg#CrimsonText-SemiBold') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBold.ttf') format('ttf');
}




@font-face {
    font-family: "CrimsonText-SemiBoldItalic";
    src: url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBoldItalic.svg#CrimsonText-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "CutiveMono-Regular";
    src: url('#{$base-font-path}/Cutive_Mono/CutiveMono-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Cutive_Mono/CutiveMono-Regular.woff') format('woff'),
    url('#{$base-font-path}/Cutive_Mono/CutiveMono-Regular.svg#CutiveMono-Regular') format('svg'),
    url('#{$base-font-path}/Cutive_Mono/CutiveMono-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-ExtraLight";
    src: url('#{$base-font-path}/Dosis/Dosis-ExtraLight.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraLight.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraLight.svg#Dosis-ExtraLight') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraLight.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-Regular";
    src: url('#{$base-font-path}/Dosis/Dosis-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-Regular.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-Regular.svg#Dosis-Regular') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-Light";
    src: url('#{$base-font-path}/Dosis/Dosis-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-Light.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-Light.svg#Dosis-Light') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-Light.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-Medium";
    src: url('#{$base-font-path}/Dosis/Dosis-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-Medium.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-Medium.svg#Dosis-Medium') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-Bold";
    src: url('#{$base-font-path}/Dosis/Dosis-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-Bold.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-Bold.svg#Dosis-Bold') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-ExtraBold";
    src: url('#{$base-font-path}/Dosis/Dosis-ExtraBold.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraBold.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraBold.svg#Dosis-ExtraBold') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-ExtraBold.ttf') format('ttf');
}




@font-face {
    font-family: "Dosis-SemiBold";
    src: url('#{$base-font-path}/Dosis/Dosis-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Dosis/Dosis-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Dosis/Dosis-SemiBold.svg#Dosis-SemiBold') format('svg'),
    url('#{$base-font-path}/Dosis/Dosis-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: "Inconsolata-Regular";
    src: url('#{$base-font-path}/Inconsolata/Inconsolata-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Regular.woff') format('woff'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Inconsolata-Bold";
    src: url('#{$base-font-path}/Inconsolata/Inconsolata-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Bold.woff') format('woff'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg'),
    url('#{$base-font-path}/Inconsolata/Inconsolata-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-Hairline";
    src: url('#{$base-font-path}/Lato/Lato-Hairline.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Hairline.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Hairline.svg#Lato-Hairline') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Hairline.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-Light";
    src: url('#{$base-font-path}/Lato/Lato-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Light.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Light.svg#Lato-Light') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Light.ttf') format('ttf');
}



@font-face {
    font-family: "Montserrat-Thin";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Thin.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Thin.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Black";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Black.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url('#{$base-font-path}/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBold.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Bold";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Regular";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-ThinItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Italic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Italic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Italic.svg#Montserrat-Italic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Light";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Light.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Light.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-Medium";
    src: url('#{$base-font-path}/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-LightItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-LightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('#{$base-font-path}/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBold.ttf') format('ttf');
}



@font-face {
    font-family: "Muli-ExtraBoldItalic";
    src: url('#{$base-font-path}/Muli/Muli-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-ExtraBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-ExtraBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-BlackItalic";
    src: url('#{$base-font-path}/Muli/Muli-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-BlackItalic.svg#Muli-BlackItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-Bold";
    src: url('#{$base-font-path}/Muli/Muli-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-Bold.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-Bold.svg#Muli-Bold') format('svg'),
    url('#{$base-font-path}/Muli/Muli-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-LightItalic";
    src: url('#{$base-font-path}/Muli/Muli-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-LightItalic.svg#Muli-LightItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-LightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-Italic";
    src: url('#{$base-font-path}/Muli/Muli-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-Italic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-Italic.svg#Muli-Italic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-ExtraLight";
    src: url('#{$base-font-path}/Muli/Muli-ExtraLight.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-ExtraLight.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg'),
    url('#{$base-font-path}/Muli/Muli-ExtraLight.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url('#{$base-font-path}/Muli/Muli-ExtraLightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-ExtraLightItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-ExtraLightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-Regular";
    src: url('#{$base-font-path}/Muli/Muli-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-Regular.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-Regular.svg#Muli-Regular') format('svg'),
    url('#{$base-font-path}/Muli/Muli-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-Black";
    src: url('#{$base-font-path}/Muli/Muli-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-Black.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-Black.svg#Muli-Black') format('svg'),
    url('#{$base-font-path}/Muli/Muli-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-BoldItalic";
    src: url('#{$base-font-path}/Muli/Muli-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-SemiBoldItalic";
    src: url('#{$base-font-path}/Muli/Muli-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Muli/Muli-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-SemiBold";
    src: url('#{$base-font-path}/Muli/Muli-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-SemiBold.svg#Muli-SemiBold') format('svg'),
    url('#{$base-font-path}/Muli/Muli-SemiBold.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-ExtraBold";
    src: url('#{$base-font-path}/Muli/Muli-ExtraBold.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-ExtraBold.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-ExtraBold.svg#Muli-ExtraBold') format('svg'),
    url('#{$base-font-path}/Muli/Muli-ExtraBold.ttf') format('ttf');
}




@font-face {
    font-family: "Muli-Light";
    src: url('#{$base-font-path}/Muli/Muli-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Muli/Muli-Light.woff') format('woff'),
    url('#{$base-font-path}/Muli/Muli-Light.svg#Muli-Light') format('svg'),
    url('#{$base-font-path}/Muli/Muli-Light.ttf') format('ttf');
}


@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-MediumItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url('#{$base-font-path}/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url('#{$base-font-path}/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
    url('#{$base-font-path}/Montserrat/Montserrat-ExtraLight.ttf') format('ttf');
}





@font-face {
    font-family: "Lato-Regular";
    src: url('#{$base-font-path}/Lato/Lato-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Regular.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-LightItalic";
    src: url('#{$base-font-path}/Lato/Lato-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-LightItalic.svg#Lato-LightItalic') format('svg'),
    url('#{$base-font-path}/Lato/Lato-LightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-Bold";
    src: url('#{$base-font-path}/Lato/Lato-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Bold.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Bold.svg#Lato-Bold') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-BoldItalic";
    src: url('#{$base-font-path}/Lato/Lato-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg'),
    url('#{$base-font-path}/Lato/Lato-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-Black";
    src: url('#{$base-font-path}/Lato/Lato-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Black.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Black.svg#Lato-Black') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-HairlineItalic";
    src: url('#{$base-font-path}/Lato/Lato-HairlineItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-HairlineItalic.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg'),
    url('#{$base-font-path}/Lato/Lato-HairlineItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-Italic";
    src: url('#{$base-font-path}/Lato/Lato-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-Italic.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-Italic.svg#Lato-Italic') format('svg'),
    url('#{$base-font-path}/Lato/Lato-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Lato-BlackItalic";
    src: url('#{$base-font-path}/Lato/Lato-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Lato/Lato-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Lato/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg'),
    url('#{$base-font-path}/Lato/Lato-BlackItalic.ttf') format('ttf');
}







@font-face {
    font-family: "Poppins-Thin";
    src: url('#{$base-font-path}/Poppins/Poppins-Thin.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Thin.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Thin.svg#Poppins-Thin') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Thin.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Italic";
    src: url('#{$base-font-path}/Poppins/Poppins-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Italic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Italic.svg#Poppins-Italic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-BoldItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-ThinItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-ThinItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-ThinItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Regular";
    src: url('#{$base-font-path}/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Regular.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-ExtraBold";
    src: url('#{$base-font-path}/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBold.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBold.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-ExtraBoldItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-BlackItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Black";
    src: url('#{$base-font-path}/Poppins/Poppins-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Black.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Black.svg#Poppins-Black') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-MediumItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-MediumItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-MediumItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-LightItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-LightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Medium";
    src: url('#{$base-font-path}/Poppins/Poppins-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Medium.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Bold";
    src: url('#{$base-font-path}/Poppins/Poppins-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Bold.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Bold.svg#Poppins-Bold') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-ExtraLightItalic";
    src: url('#{$base-font-path}/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-ExtraLight";
    src: url('#{$base-font-path}/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLight.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-ExtraLight.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-SemiBold";
    src: url('#{$base-font-path}/Poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-SemiBold.ttf') format('ttf');
}




@font-face {
    font-family: "Poppins-Light";
    src: url('#{$base-font-path}/Poppins/Poppins-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Poppins/Poppins-Light.woff') format('woff'),
    url('#{$base-font-path}/Poppins/Poppins-Light.svg#Poppins-Light') format('svg'),
    url('#{$base-font-path}/Poppins/Poppins-Light.ttf') format('ttf');
}





@font-face {
    font-family: "PlayfairDisplay-BlackItalic";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "PlayfairDisplay-Italic";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Italic.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "PlayfairDisplay-BoldItalic";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Black.woff') format('woff'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg'),
    url('#{$base-font-path}/Playfair_Display/PlayfairDisplay-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-ThinItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-ThinItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-ThinItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-ThinItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('#{$base-font-path}/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBold.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBold.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-BlackItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-MediumItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-MediumItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-MediumItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-MediumItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-ExtraLight";
    src: url('#{$base-font-path}/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLight.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLight.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-SemiBoldItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Bold";
    src: url('#{$base-font-path}/Raleway/Raleway-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Bold.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Bold.svg#Raleway-Bold') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-ExtraBoldItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraBoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-BoldItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Black";
    src: url('#{$base-font-path}/Raleway/Raleway-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Black.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Black.svg#Raleway-Black') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Regular";
    src: url('#{$base-font-path}/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Regular.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Regular.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-SemiBold";
    src: url('#{$base-font-path}/Raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBold.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-SemiBold.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-ExtraLightItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLightItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-ExtraLightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Light";
    src: url('#{$base-font-path}/Raleway/Raleway-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Light.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Light.svg#Raleway-Light') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Light.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Thin";
    src: url('#{$base-font-path}/Raleway/Raleway-Thin.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Thin.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Thin.svg#Raleway-Thin') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Thin.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Medium";
    src: url('#{$base-font-path}/Raleway/Raleway-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Medium.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-Italic";
    src: url('#{$base-font-path}/Raleway/Raleway-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-Italic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-Italic.svg#Raleway-Italic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Raleway-LightItalic";
    src: url('#{$base-font-path}/Raleway/Raleway-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Raleway/Raleway-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg'),
    url('#{$base-font-path}/Raleway/Raleway-LightItalic.ttf') format('ttf');
}






@font-face {
    font-family: "Roboto-Bold";
    src: url('#{$base-font-path}/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Bold.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Bold.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Medium";
    src: url('#{$base-font-path}/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Medium.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Medium.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-MediumItalic";
    src: url('#{$base-font-path}/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-MediumItalic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-MediumItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-ThinItalic";
    src: url('#{$base-font-path}/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-ThinItalic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-ThinItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-BlackItalic";
    src: url('#{$base-font-path}/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-BlackItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Light";
    src: url('#{$base-font-path}/Roboto/Roboto-Light.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Light.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Light.svg#Roboto-Light') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Light.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Thin";
    src: url('#{$base-font-path}/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Thin.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Thin.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Italic";
    src: url('#{$base-font-path}/Roboto/Roboto-Italic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Italic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Italic.svg#Roboto-Italic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Italic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-LightItalic";
    src: url('#{$base-font-path}/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-LightItalic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-LightItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Black";
    src: url('#{$base-font-path}/Roboto/Roboto-Black.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Black.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Black.svg#Roboto-Black') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Black.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-BoldItalic";
    src: url('#{$base-font-path}/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-BoldItalic.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-BoldItalic.ttf') format('ttf');
}




@font-face {
    font-family: "Roboto-Regular";
    src: url('#{$base-font-path}/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('#{$base-font-path}/Roboto/Roboto-Regular.woff') format('woff'),
    url('#{$base-font-path}/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('#{$base-font-path}/Roboto/Roboto-Regular.ttf') format('ttf');
}



